<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleSheet.css') }}">
<meta charset="UTF-8">
<title>Kettering University Pizza Shop Admin Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Kettering University Pizza Shop Admin Page</h1>
  </div>
  <div class="buttons">
    <button class="button" onclick="window.location.href='DesignPizza.html';">Design Pizza</button>
    <button class="button" onclick="window.location.href='AddAndRemove.html';">Add/Remove ingredients</button>
    <button class="button" onclick="window.location.href='RemovePizza.html';">Remove Pizza</button>
  </div>
</div>
</body>
</html>
