<!DOCTYPE html>
<html lang="en">
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleSheet.css') }}">
<meta charset="UTF-8">
<title>Kettering University Pizza Shop Admin Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header">
    <h1>Kettering University Pizza Shop Admin Page</h1>
  </div>

  <div class="button-container"></div>
    <button class="admin-btn" onclick="window.location.href='/admin-design';">Design Pizza</button>
    <button class="admin-btn" onclick="window.location.href='/admin-add-remove';">Add/Remove ingredients</button>
    <button class="admin-btn" onclick="window.location.href='/admin-pizza-remover';">Remove Pizza</button>
  </div>

  <div class="logout-btn-container">
    <form action="{{ url_for('logout')}}" onsubmit="return confirm('Are you sure you want to log out?');">
      <button name="logout" id="logout" type="submit" class="logout-btn">Log Out</button>
    </form>
</body>
</html>
