<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleSheet.css') }}">
    <title>Kettering University Pizza Shop</title>
</head>

<body>

    <div class="header">
        Kettering University Pizza Shop
    </div>

    <div class="container">
        <div class="menu">

            <button type="submit" class="btn pizzabuilder-btn">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>


            <button type="submit" class="btn pizzabuilder-btn" name="do_builder">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>


            <button type="submit" class="btn pizzabuilder-btn" name="do_builder">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>

            <button type="submit" class="btn pizzabuilder-btn" name="do_builder">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>

            <button type="submit" class="btn pizzabuilder-btn" name="do_builder">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>

            <button type="submit" class="btn pizzabuilder-btn" name="do_builder">
                <div class="menu-item" id="menu-item">
                    <img src="{{ url_for('static', filename='styles/pizza.jpeg') }}" alt="Pizza">
                    <h3>Build Your Own</h3>
                    <p>Create your own pizza with a choice of toppings and delicious crusts.</p>
                </div>
            </button>

        </div>

        <div class="order-summary">
            <h3>Your Order</h3>

            <div class="order-item">
                <p id="demo"></p>
                <p>To remove a pizza from your offering just click it here and it will dissapear. Clicking on Build your
                    own will do nothing since it is not able to be changed.</p>
            </div>


            <button type="submit">Checkout</button>

        </div>
    </div>
    <script>
         let pizzaOrder = {
            pizza1: [1],
            pizza2: [1],
            pizza3: [1],
            pizza4: [1],
            pizza5: [1],
            pizza6: [1],
        }
        var menuItems = document.querySelectorAll('.menu-item');

        // Add click event listener to each menu item
        menuItems.forEach(function (item) {
            item.addEventListener("click", function () {
                item.remove(); // Remove the clicked div element
                pizzaOrder.pizza1.pop(0)
                pizzaOrder.pizza1.push('0')
            });
        });
    </script>

</body>

</html>